# Sub-dependencies are listed below dependencies

# Argon2 Password Hashing Function (Derives keys that protect persistent user data)
argon2-cffi>=23.1.0
argon2-cffi-bindings>=21.2.0
cffi>=1.16.0
pycparser>=2.22

# cryptography (pyca) (Provides X448 key exchange)
cryptography>=42.0.5

# Flask (Onion Service web server that serves TFC public keys and ciphertexts to contacts)
Flask>=3.0.3
blinker>=1.7.0
click>=8.1.7
itsdangerous>=2.2.0
Jinja2>=3.1.3
MarkupSafe>=2.1.5
Werkzeug>=3.0.2

# mypy (Static type checking tool)
mypy>=1.9.0
mypy-extensions>=1.0.0
typing-extensions>=4.11.0

# PyLama (Code audit tool for Python)
pylama>=8.4.1
mccabe>=0.7.0
pycodestyle>=2.11.1
pydocstyle>=6.3.0
snowballstemmer>=2.2.0
pyflakes>=3.2.0

# PyNaCl (pyca) (Handles TCB-side XChaCha20-Poly1305 symmetric encryption and Derives TFC account from Onion Service private key)
PyNaCl>=1.5.0

# pySerial (Connects the Source/Destination Computer to the Networked Computer)
pyserial>=3.5

# PySocks (Routes Requests library through SOCKS5 proxy making Onion Service connections possible)
PySocks>=1.7.1

# pytest (Test framework)
pytest>=8.1.1
iniconfig>=2.0.0
packaging>=24.0
pluggy>=1.5.0

# pytest-cov (Pytest plugin for measuring coverage)
pytest-cov>=5.0.0
coverage>=7.5.0

# xdist (Pytest distributed testing plugin)
pytest-xdist>=3.5.0
execnet>=2.1.1

# Requests (Connects to the contact's Tor Onion Service)
requests>=2.31.0
certifi>=2024.2.2
charset-normalizer==2.1.1
idna>=3.7
urllib3>=2.2.1
setuptools>=69.5.1

# Stem (Connects to Tor and manages Onion Services)
stem>=1.8.2
