[Desktop Entry]
Name=TFC-LR
Comment=Local testing
Exec=terminator -m -p tfc -l tfc-lr
Icon=tfc.png
Terminal=false
Type=Application
Categories=Network;Messaging;Security;