[Desktop Entry]
Version=1.19.08
Name=TFC-Relay
Exec=gnome-terminal -x bash -c "cd /opt/tfc && python3.7 'relay.py' || bash"
Icon=tfc.png
Terminal=false
Type=Application
Categories=Network;Messaging;Security;
