[Desktop Entry]
Name=TFC-DD-RL
Comment=Local testing
Exec=terminator -m -p tfc -l tfc-dd-rl
Icon=tfc.png
Terminal=false
Type=Application
Categories=Network;Messaging;Security;