[Desktop Entry]
Name=TFC-NH
Exec=gnome-terminal -x bash -c "cd $HOME/tfc; source venv_nh/bin/activate; python3.5 'nh.py'; deactivate"
Icon=tfc.png
Terminal=true
Type=Application
Categories=Network;Messaging;Security;