[Desktop Entry]
Name=TFC-Relay
Exec=gnome-terminal --geometry=94x25 -x bash -c "cd /opt/tfc && ./venv_relay/bin/python3 ./tfc-relay.py -q || bash"
Icon=tfc.png
Terminal=false
Type=Application
Categories=Network;Messaging;Security;
