[Desktop Entry]
Name=TFC-Transmitter
Exec=gnome-terminal --maximize -x bash -c "cd /opt/tfc && ./venv_tcb/bin/python3 ./tfc-transmitter.py || bash"
Icon=tfc.png
Terminal=false
Type=Application
Categories=Network;Messaging;Security;
